.control-box-show{
    display: flex;
    background-image: linear-gradient(180deg, transparent, black);
    flex-direction: column;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 700px;
    padding: 10px;
    box-sizing: border-box;
}

.control-box-hide{
    display: none;
}


.controls{
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: space-between;  
}

progress{
    width: 100%;
}

p{
    color: white;
}