#videoPlayer{
  position: relative;
}

#btn{
  background-color: blueviolet;
  position: absolute;
  top: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 100px;
  color: white;
  left: 300px;
  height: 100px;
  width: 100px;
 
  border: none;
}

#btn::before{
  content: "";
  display: inline-block;
  border-left: 0.3em solid;
  border-top: 0.18em solid transparent;
  border-bottom: 0.18em solid transparent;
}